h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;
}

.header {
    width: 100%;
    border: 1px solid black;
    background-color: beige;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    padding: 0%;
}

.footer {
    width: 100%;
    background-color: beige;
    margin: top 40px;
    height: 100px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}
img {
    width: 200px;
    height: auto;
    border-radius: 5px;

}

.image {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}

   
.about {
    border: 1px solid black;
    width: 350px;
    height: 180px;
    padding: 20px;
    background-color: blanchedalmond;
    margin: auto;
    text-align: center;
    font-style: italic;
}